<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Editar Clientes</title>
</head>
<body>
   <form method="POST">    <!--os metodos disponivel sao GET e POST, os dois possuem a funcionalidade de enviar dados de forma encapsulada no request-->

       {% csrf_token %} <!--tag de validação do django(para poder utilizar o formulario), ele envia os dados da requisição forma criptografada-->
       <label >Nome</label>
      
       <input type="text" name="nome" value=" {{dadosCliente.nome}}"/>
       <label >CPF</label>
       <input type="text" name="cpf" value=" {{dadosCliente.cpf}}"/>

       <label >Endereço</label>
       <input type="text" name="endereco" value=" {{dadosCliente.endereco}}"/>

       <label >Data de Nascimento</label>
       <input type="date" name="data_nascimento" value="{{dadosCliente.data_nascimento|date:'Y-m-d'}}"/>

       <input type="submit" value="Atualizar"/>

   </form>
</body>
</html>
