<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lista de Produtos</title>
</head>
<body>
<table border="">
    <thead>
        <tr>
            <td>Código do Produto</td>
            <td>Nome</td>
            <td>Valor do Produto</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody>            
            {% for valor in listaProdutos %}
           
            <tr>
                <td>
                    {{valor.cod}}
                </td>
                <td>
                    {{valor.nome}}
                </td>
                <td>
                    {{valor.valor_unitario}}
                </td>
               
                <td>
                    <a href="{% url 'detalharProdutos' valor.id %}"><img src="https://cdn-icons-png.flaticon.com/512/64/64673.png" width="20px"></a>
                    <a href="{% url 'editarProdutos' valor.id %}"><img src="https://cdn-icons-png.flaticon.com/512/1827/1827951.png" width="20px"></a>
                    <a href="{% url 'excluirProdutos' valor.id %}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlnRlKcC-x0QEI0-kzDnG48PRfnDYKzaLV2Q&s" width="20px"></a>
                </td>




            </tr>
       
            {%  endfor  %}
       
    </tbody>
   


</table>
</body>
</html>

